body{
   margin: 0;
   padding: 0;
   font-size: 13px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   background-image: url(https://i.pinimg.com/originals/31/82/e5/3182e579d9e985daa8168ea729da7cba.gif);
   background-repeat: no-repeat;
   background-size:cover;
   background-attachment: fixed;
}
header{

    /*width es ancho// heigth es alto*/
    width: 100%;
    height: 60px;
}
header nav {
    display:flex;
    /*justificar hacia la derecha*/
    justify-content: flex-end;
}
header nav .nav-right-section{
    width: 250px;
    height: auto;
    display: flex;
    /*eliminar puntitos*/
    list-style: none;
    justify-content: center;
    align-items: center;

}
a{
    text-decoration: none;
    cursor: pointer;
    
}
nav .nav-right-section a{
    margin-right: 25px;
    color:white;
}
/* Ícono de menú*/
nav .nav-right-section .menu{
    background-image: url(https://cdn-icons-png.flaticon.com/512/5570/5570620.png);
    height: 35px;
    width: 35px;
    background-size: contain;
    background-repeat: no-repeat;
   
}

nav .nav-right-section .foto{
    background-image: url(https://lh3.googleusercontent.com/ogw/AAEL6shg0Hi28-TbfDVPGjuwN468UjJioYsQLtxYyybzCw=s32-c-mo); 
    width: 35px;
    height: 35px;
    border-radius: 60px;
    margin-left: 20px;
    
}

main{
    margin-top: 150px;
    text-align: center;
    align-items: center;
}

main .main-logo{
    width: 530px;
    margin: 0 auto;
    margin-bottom: 35px;
}
main .main-logo img{
    height: 120px;
}
/* Input secction*/
main .main-input{
    width: 530px;
    margin: 0 auto;
    margin-bottom: 35px;
}
main .main-input-container{
    background-color: white;
    width: 525px;
    border-radius: 100px;
    border: 1px solid #dfe1e5;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .main-input input{
    border: none;
    width: 550px;
    height: 40px;
    outline: none;
    background-color: white;
}
main .main-input-container:hover{
    box-shadow: 0 1px 6px 1px #20212447;
    border-color: #eff4fd00;
    

}
main .main-input .search-icon{
    background-image: url("https://cdn-icons-png.flaticon.com/512/4889/4889296.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 14px;
    height: 15px;
    padding-left: 6%;
}
main .main-input .micro-icon{
    background-image: url("https://cdn-icons-png.flaticon.com/512/7191/7191635.png");
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
    padding-left: 7%;
    
}
main .main-input .cam-icon{
    background-image: url("https://cdn-icons-png.flaticon.com/512/7662/7662614.png");
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding-right: 7%;
}
main .main-buttons{
    width: 550px;
    margin: 0 auto;
    background-color: #eff4fd00;
}
main .main-buttons div{
    display: inline-block;
}

main .main-buttons button{
    border: 0;
    height: 36px;
    /*Fondo de botones*/
    background-color: #f1e1f5;
    font-size: 14px;
    /*color de letras antes de hover*/
    color:#375063;
    /*Redondeamos botones*/
    border-radius: 4px;
    /*Margen interno*/
    padding: 0 15px;
    /*Margen entre botones*/
    margin-right: 15px;
    border: 1px solid #f3f9ff;
}
/* Efecto hover (como el input) */
main .main-buttons button:hover{
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    background-color: #f3f9ff;
    /*Cambia borde al hacer hover*/
    border: 1px solid #dadce0;
    /*cambia el color de las letras (muy leve) al hacer hover*/
    color: #202124;
}
footer{
    background-color: rgb(15,15,87);
    width: 100%;
    height: 50px;
    position: absolute;
    font-size: 13px;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-top: none;
    bottom: 0%;
}


footer ul{
    margin: 9px;
    display: flex;
    list-style: none;
    padding-left: 0px;
}
footer .footer-left{
    justify-self: left;
}
footer .footer-right{
justify-self: right;
}
footer ul li a{
    color: #feffff;
    margin: 10px;
}